// variaveis em cores:
$dark-background: #1D1244;
$light-background: #EEEEEF;
$purple-background: rgba(64, 54, 101, 0.5); //#403665 50%
$pink-bg-btn: #F3C1E5;
$purple-btn-background: rgba(91, 92, 121, 1); //#5B5C79
$light-purple-btn-background: #AF9DF2;

$black-shadow: #000;

$purple-border: #403665;
$purple-hover-color: #AFA1E0;
$white-hover-color: #F9F7F1;

$white-text-color: #F0F0F0;
$black-text-color: #1E1E1E;
$pink-text-color: #FF5DD2;
$purple-light-text-color: #D0C8ED;
$darkness-text-color: #1C1142;
