@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import './colors';
@import './functions';


*{
    padding: 0;
    font-family: "Inter", sans-serif;
    background-color: $dark-background;
    color: $white-text-color;
    margin: 2px 15px;
}


//home
.cabecalho{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    button{
        border: none;
        margin: 2% 0;
        padding: 8px;
        text-transform: uppercase;
        cursor: pointer;
        
    }

    p{
        margin: 0;
    }

    &:hover{
        text-decoration: underline;
    }

    .btn-translate{
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: center;
    }
}

#home{
    width: 90vw;
    height: 90vh;
    display: flex;
    flex-direction: row;

    img{
        width: 40%;
        height: 70%;
        position: absolute;
        bottom: 0;
        margin-bottom: 0;
        padding: 0;
        left: 100px;
        z-index: 1000;
        background-color: transparent;
    }

    .descricao{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 18px;
        margin-top: 8%;
        margin-left: 30%;
        position: relative;
        width: 55%;
    }

    .desc-home-tittle{
        font-size: 2rem;
        margin: 15px;
    }

    span{
        color: $pink-text-color;
    }

    .desc-text{
        padding: 0;
        margin: 0 15px;
        text-align: justify;

        span{
            font-weight: 600;
            color: $white-text-color;
        }
    }

    .actions-home{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 25px auto;
        height: 50px;
    }

    button{
        width: 160px;
        height: 30px;
        padding: 15px;
        border: none;
        border-radius: 3px;
        background-color: $purple-btn-background;
        color: $white-text-color;
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 0.8em;
        box-shadow: 1px 1px 4px $black-text-color;

        iconify-icon{
            font-size: 1rem;
            background-color: transparent;
        }

        &:hover{
            background-color: $pink-bg-btn;
            cursor:pointer;
            color: $darkness-text-color;
            font-weight: 600;

            iconify-icon{
                color: $darkness-text-color;
            }
        }
    }    

    .midias{
        display: flex;
        flex-direction: row;
        margin: 0;
        gap: 0;

        a iconify-icon{
            font-size: 2rem;
            padding: 0;
            margin: 0;

            &:hover{
                color: $pink-bg-btn;

            }
        }
    }
}

//sobre mim
#about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80vw;
    height: 80vh;
    padding: 5%;
    margin-top: 5%;
}

.container-about{
    display: flex;
    justify-content: center;
    margin: auto;
    flex-direction: column;
    background-color: $purple-background;
    width: 80%;
    height: 80%;
    padding: 4%;
    border-radius: 15px;
    border: 1px solid $purple-border;
    
    h2{
        @include tittle-section();
    }

    .desc-about{
        text-align: justify;
        background-color: transparent;
        margin: 10px 13%;
        color: $purple-light-text-color;
        font-size: 1.3rem;

        strong{
            background-color: transparent;
            color: $purple-light-text-color;
        }
    }
    
}

.coffe-about {
    position: relative;
    bottom: 12%;
    left: 80%;
    z-index: 1000;
    background-color: transparent;
}

//habilits
#habilits{
    width: 85vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;

    h2{
        @include tittle-section();
    }

    .container-btn-filters-habilits{
        padding: 10px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        margin-left: 5%;

        .btn-habilit{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: transparent;
            border: 2px solid $light-purple-btn-background;
            border-radius: 5px;
            padding: 18px;
            width: 15%;
            height: 10px;
            font-size: 1rem;
            text-transform: uppercase;
            box-shadow: 3px 3px 1px $purple-border;

            &:hover{
                cursor: pointer;
                background-color: $light-purple-btn-background;
                color: $dark-background;
                font-weight: 700;
            }
        }
    }

    .container-habilits{
        display: grid;
        grid-template-columns: repeat(6, 15%);
        column-gap: 20px;
        row-gap: 20px;
        margin: 20px auto;
        width: 75vw;
        height: 80vh;
    }

    .container-habilit-item{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        padding: 12px;
        height: 120px;
        width: 120px;
        border: 2px solid $purple-background;
        border-radius: 5px;
        text-transform: uppercase;
        font-size: 1.2rem;

        .icon{
            font-size: 50px;
        }

        span, iconify-icon, p{
            background-color: transparent;
            color: $purple-border;
        }

        &:hover{
            cursor: pointer;
            background-color: $purple-background;

            span, iconify-icon, p{
             color: $white-text-color;

            }
        }

    }
}

// projetos
#projects{
    width: 90vw;
    height: 100vh;

    h2{
        @include tittle-section();
        margin-top: 12px;
    }

    .carroussel{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 25px;
        margin: 18px 0;
        padding: 0;

    }


    .card-projects{
        background-color: $purple-background;
        padding: 12px;
        border-radius: 18px;
        border: 1px solid $purple-border;
        color: $white-text-color;
        max-width: 40%;
        margin: 15px 30px;
        

        .container-btn-actions{
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            gap: 3px;
            background-color: transparent;
            

            .btn-action-card{
                border: 1px solid $purple-border;
                border-radius: 8px;
                text-decoration: none;
                padding: 8px 20px;
                width: 20%;
                text-align: center;
                color: $purple-hover-color;
                font-size: 0.9rem;
                margin: 5px;
                background-color: $purple-background;

                &:hover{
                    background-color: $light-purple-btn-background;
                    color: $darkness-text-color;
                    font-weight: 600;
                }
            }
        }

        .card-desc{
            margin: 30px 15px;
            background-color: transparent;
            
            h5{
                background-color: transparent;
                font-size: 1.6rem;
                margin: 15px;
            }

            p{
                background-color: transparent;
                text-align: justify;
                flex-wrap: wrap;
                max-width: 80vw;
            }

        }
        img{
             background-color: transparent;
             position: relative;
             margin: 5px auto 0;
             bottom: 0;
             top: 3%;
             display: flex;
             justify-content: center;
             align-items: center;
             width: 90%;
        }
    }

        .lateral{
            background-color: $card-blur;
            filter: blur(2px);
            height: 35vh;
            margin: auto;

                .container-btn-actions{
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    gap: 2px;
                    background-color: transparent;

                    .btn-action-card{
                        border: 1px solid $purple-border;
                        border-radius: 5px;
                        text-decoration: none;
                        padding: 5px 12px;
                        width: 15%;
                        text-align: center;
                        color: $purple-hover-color;
                        font-size: 0.3rem;
                        margin: 3px;
                    }
                }

                .card-desc{
                    margin: 5px 2px;
                    background-color: transparent; 

                    h5{
                        background-color: transparent;
                        font-size: 0.8rem;
                        margin: 13px 13px 5px;
                    }

                    p{
                        background-color: transparent;
                        text-align: justify;
                        flex-wrap: wrap;
                        max-width: 80vw;
                        font-size: 0.6rem;
                    }

                }
                img{
                    background-color: transparent;
                    position: relative;
                    margin: 5% auto 0;
                    bottom: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 90%;
                    border-radius: 8px;
                    opacity: 60%;
                }
        }

        .selector-card{
            display: flex;
            flex-direction: row;
            align-items: center;
            text-align: center;
            justify-content: center;
            gap: 3px;
            width: 20%;
            height: 5px;
            margin: 3% auto 2%; 

            .selector{
                background-color:$selector-color;
                color: $selector-color;
                width: 3px;
                height: 2px;
                border-radius: 100%;
                margin: 3px;
                padding: 2px;
                cursor: pointer;

            }

                .chose{
                    width: 5px;
                    height: 5px;
                    background-color: $used-selector-color;
                }
        }
}

//contact
#contact{
    width: 90vw;
    height: 100vh;

    h2{
        @include tittle-section();
        text-transform: uppercase;
        color: $white-text-color;
    }

    p{
        color: $white-text-color;
        text-align: center;
        margin-top: 8px;
    }
}


//rodapé
footer{
    text-align: center;
    font-size: 13px;
    padding: 25px;

    p{
        color: $footer-text-color;
    }

}



